ul.blog-list li .cs-text span {
    color: #8b919e;
    display: inline-block;
    font-size: 12px;
    line-height: 19px;
}

ul.blog-list li .cs-text p {
    margin-bottom: 12px;
}

ul.blog-list li .cs-text h5 {
    border-bottom: 1px solid #fff;
    font-size: 15px;
    margin: 0;
    min-height: 56px;
    padding: 0 0 5px;
}

ul.blog-list li .cs-text h5 a {
    color: #292c33;
}

ul.blog-list li .cs-text .readmore {
    float: right;
    font-size: 11px;
    line-height: 20px;
    padding-top: 6px;
    position: relative;
    text-transform: uppercase;
}

ul.blog-list .slick-list.draggable {
    overflow: hidden;
}

.cs-auther-name a {
    color: #999;
}

.blog-list .slick-arrow {
    background-color: #f9f9f9;
    float: left;
    height: 29px;
    margin: 5px 0 0 5px;
    text-align: center;
    width: 29px;
}

.blog-list .slick-arrow a {
    color: #999;
    font-size: 18px;
    line-height: 32px;
}

.cs-blog.classic {
    margin: 0 0 30px;
}

.cs-blog.classic ul {
    margin: 0;
}

.cs-blog.classic li {
    border-top: 2px solid #eceef0;
    float: left;
    list-style: outside none none;
    padding: 16px 0;
    width: 100%;
}

.cs-blog.classic p {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 0 -4px 0 0;
    vertical-align: middle;
    width: 100%;
}

.cs-blog.classic p i {
    color: #c4c6c8;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.cs-blog.classic span {
    display: inline-block;
    font-size: 12px;
    text-align: right;
    vertical-align: middle;
}

.cs-blog.classic span i {
    color: #e2e5e8;
    float: right;
    font-size: 24px;
    margin: 2px 0 0 10px;
}

.cs-pagination-blog {
    margin-bottom: 30px;
}

.cs-blog.blog-medium {
    border-bottom: 0 none;
    margin: 0;
    padding-bottom: 30px;
}

.cs-blog.blog-medium::after {
    clear: both;
    content: "";
    display: block;
}

.cs-blog.blog-medium .blog-text .cs-post-title {
    clear: both;
}

.cs-blog .cs-media figure {
    position: relative;
}

.cs-blog .cs-media figure figcaption {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}

.cs-blog .cs-media:hover figure figcaption {
    opacity: 1;
    visibility: visible;
}

.cs-blog.blog-medium .post-title h3 {
    margin-bottom: 0;
}

.cs-blog .post-title {
    margin-bottom: 10px;
}

.cs-blog.blog-medium .cs-media figure figcaption .cs-readmore a {
    color: #fff;
    font-size: 24px;
    left: 50%;
    margin: -10px 0 0 -65px;
    position: absolute;
    top: 50%;
    transform: scale(0.7);
}

.cs-blog.blog-medium .cs-media:hover figure figcaption .cs-readmore a {
    transform: scale(1);
}

.cs-blog.blog-medium:last-child {
    border-bottom: medium none;
    padding-bottom: 40px;
}

.blog-medium .cs-media {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    width: 37%;
}

.blog-modern .cs-media {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
    width: 48.6%;
}

.blog-medium .cs-media figure img,
.blog-modern .cs-media img {
    width: 100%;
}

.blog-medium .cs-media~.blog-text {
    display: inline-block;
    float: none;
    margin-right: 0;
    vertical-align: middle;
    width: 58%;
}

.blog-modern .blog-text {
    display: inline-block;
    margin-right: -4px;
    padding-left: 30px;
    vertical-align: middle;
    width: 51.4%;
}

.blog-modern .blog-text .cs-post-title {
    margin-bottom: 5px;
    padding-bottom: 1px;
    position: relative;
}

.blog-modern .blog-text .cs-post-title::after {
    bottom: 1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 27px;
}

.blog-modern .blog-text .blog-separator {
    margin: 0 0 10px;
}

.blog-modern .blog-text .blog-separator::before {
    display: none;
}

.blog-medium .blog-text {
    width: 99.1%;
}

.blog-medium .blog-text p {
    display: inline;
    margin: 0 0 15px;
}

.blog-medium .blog-separator {
    margin: 0 0 10px;
}

.cs-blog .cs-categories,
.cs-blog-detail .cs-categories {
    display: block;
    margin: 0 0 12px;
}

.cs-blog .cs-categories a,
.cs-blog-detail .cs-categories a {
    border-bottom: 2px solid #ededed;
    color: #55a747;
    display: inline-block;
    font-size: 10px;
    margin-right: 5px;
    padding-bottom: 2px;
    text-transform: uppercase;
}

.cs-blog-detail .post-option {
    float: right;
}

.cs-blog .post-option span a,
.cs-blog-detail .post-option span a {
    color: #999 !important;
    display: inline-block;
    font-size: 12px;
    margin-right: 18px;
    vertical-align: middle;
}

.cs-blog .post-option span i,
.cs-blog-detail .post-option span i {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    vertical-align: middle;
}

.cs-blog-detail .post-option span.post-category i {
    margin: 0;
}

.cs-blog-detail .post-option .post-category a {
    margin-left: 10px;
    margin-right: 0;
}

.cs-blog-detail .post-option .post-date {
    margin-left: 18px;
}

.cs-blog-detail .cs-text .post-option span i {
    float: left;
    margin: 3px 8px 0 0;
}

.cs-blog.blog-grid figure img {
    width: 100%;
}

.cs-blog.blog-grid .cs-media~.blog-text {
    margin: -30px 0 0;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.cs-blog.blog-grid .cs-inner-bolg {
    background-color: #fff;
    display: inline-block;
    padding: 20px 25px;
    width: 100%;
}

.cs-blog.blog-grid .blog-text p {
    margin: 0 0 5px;
}

.cs-blog.blog-grid .post-option {
    line-height: normal;
    margin: 0 0 10px;
}

.cs-blog.blog-grid .post-option span {
    color: #8b919e;
    font-size: 10px;
    margin: 0 15px 0 0;
    position: relative;
    text-transform: uppercase;
}

.cs-blog.blog-grid .post-option span::before {
    background-color: #8b919e;
    border-radius: 100%;
    content: "";
    height: 3px;
    left: -10px;
    position: absolute;
    top: 5px;
    width: 3px;
}

.cs-blog.blog-grid .post-option span:last-child {
    margin: 0;
}

.cs-blog.blog-grid .post-option span:first-child::before {
    display: none;
}

.cs-blog.blog-grid .read-more {
    display: inline-block;
    font-size: 12px;
    position: relative;
}

.cs-blog.blog-grid .read-more::before {
    content: "";
    font-family: "icomoon";
    font-size: 14px;
    position: absolute;
    right: -15px;
    top: 0;
}

.blog-large .cs-media img {
    width: 100%;
}

.blog-large .cs-text {
    margin: 0 0 20px;
    position: relative;
    z-index: 1;
}

.blog-large .cs-media~.cs-text {
    background-color: #fff;
    margin: 0 auto;
    padding: 30px 0 0;
    width: 100%;
}

.cs-blog .cs-author,
.cs-blog-detail .cs-author {
    float: left;
    margin: 0 0 10px;
}

.cs-blog .cs-author figure,
.cs-blog-detail .cs-author figure {
    display: inline-block;
    height: 32px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 32px;
}

.cs-blog .cs-author figure img,
.cs-blog-detail .cs-author figure img {
    border-radius: 100%;
}

.cs-blog .cs-author .cs-text,
.cs-blog-detail .cs-author .cs-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.cs-blog .cs-author .cs-text a,
.cs-blog-detail .cs-author .cs-text a {
    color: #555;
    font-size: 13px;
}

.blog-large .post-option,
.cs-blog.blog-medium .post-option {
    float: right;
}

.cs-blog.blog-large .post-option span i,
.cs-blog.blog-medium .post-option span i {
    color: #cfcfcf;
}

.post-option span i {
    margin-right: 5px;
    transition: all 0.3s ease-in-out 0s;
}

.blog-separator {
    border-bottom: 1px solid #f1f1f1;
    display: inline-block;
    margin: 20px 0 25px;
    position: relative;
    width: 100%;
}

.blog-large .cs-text p {
    margin: 0 0 25px;
}

.blog-large .read-more {
    border: 1px solid;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 20px;
    text-transform: uppercase;
}

.blog-large .cs-post-title {
    margin: 0 0 15px;
}

.blog-large .cs-post-title h3 {
    margin: 0;
}

.cs-blog-detail .cs-post-title h1 {
    margin: 0 0 10px;
}

.cs-blog-detail .cs-post-title::after {
    clear: both;
    content: "";
    display: block;
}

.cs-blog-detail .cs-main-post img {
    width: 100%;
}